html {
  --brown: #8f6d46;
  --black: #000;
  --gold: #ecd5ac;
  --silver: #d9d9d9;
  --white: #ffffff;
  --gray: #eef0f2;
  --lightgray: F2F4F5;
  --buttonwhite: FEFEFE;
  --green: #659c6e;
  --red: D31C1C;
  --dtitel: 3rem;
  --dmenu: 2rem;
  --dnews: 6rem;
  --dmumber: 2.1875rem;
  --dfmenu: 2.25rem;
  --dfinfo: 1.875rem;
  --dminititel: 8.75rem;
  --dminititelinfo: 2rem;
  --dfiler: 2rem;
  --dproductinfo: 1.5rem;
  --dmini: 1.25rem;
  --dreco: 2.5rem;
  --amandine: "amandine", sans-serif;
  --dbold: 700;
  --dregular: 500;
  --dproductwidth: 19.6875rem;
  --dproductheight: 21.0625rem;
  --ddetailwidth: 44.0625rem;
  --ddetailheight: 45.75rem;
  --dcartwidth: 7.875rem;
  --dcartheight: 8.0625rem;
}
* {
  border: 0px solid;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.title,
h1 {
  color: var(--black);
  font-family: var(--amandine);
  font-size: var(--dtitel);
  font-style: normal;
  font-weight: var(--dregular);
  line-height: normal;
  text-align: center;
}
.menu,
.menu a {
  color: var(--brown);
  font-size: var(--dmenu);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  flex-direction: row;
  margin-left: 2rem;
}
.top-line {
  height: 5px;
  background-color: var(--brown);
  height: 2.125rem;
  width: 100%;
}
section.section {
  text-align-last: center;
}

/*.fa-bars*/
.menu-dropdown {
  width: 2.1875rem;
  height: 2.1875rem;
  align-items: center;
  float: left;
  margin-left: 2rem;
  flex-shrink: 0;
}
.fa-solid {
  color: black;
}
.fa-heart,
.fa-cart-shopping,
.fa-user {
  width: 2.1875rem;
  height: 2.1875rem;
  align-items: center;
  float: right;
  flex-shrink: 0;
}
.fa-user {
  margin-right: 2rem;
}

a {
  text-decoration: none;
}

footer,
footer a,
footer ul,
footer button,
footer section {
  background-color: var(--black);
  color: white;
  text-decoration: none;
}

footer {
  padding-top: 2%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  padding-bottom: 0;
}
footer section {
  margin-top: 1%;
}
footer p,
footer .fa-brands,
footer a,
footer section {
  color: white;
  background-color: black;
}
.fa-brands:hover {
  color: rgb(186, 186, 177);
}
.numberbtn {
  background-color: var(--brown);
  border-radius: 2.9375rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width: 23.5rem;
  height: 5.9375rem;
  font-size: var(--dmumber);
  font-weight: 400;
  font-family: Arial;
  line-height: normal;
  font-style: normal;
}

.title-footer {
  color: var(--white);
  font-family: var(--amandine);
  font-size: var(--dtitel);
  font-style: normal;
  font-weight: var(--dregular);
  line-height: normal;
  text-align: center;
  margin-left: 4.5rem;
}
.numberbtn {
  margin-left: 6rem;
  margin-right: 59.25rem;
  margin-top: 1%;
  margin-right: auto;
}
.brands {
  margin-left: 6%;
  font-size: xx-large;
}
footer ul a:first-child {
  text-align: right;
  font-family: Arial;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
section.menu-info {
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  padding: 3rem;
  padding-top: 0;
}
footer ul a:nth-child(2),
footer ul a:nth-child(3),
footer ul a:nth-child(4) {
  font-family: Arial;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu-info ul {
  padding: 0;
  text-align: left;
}

.menu-info ul a {
  display: block;
  font-family: Arial;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1%;
  margin-top: 5%;
}
main section {
  background-color: var(--gray);
  width: 100%;
  height: 45.4375rem;
  margin-bottom: 10%;
}
.news-font {
  font-family: var(--amandine);
  font-size: var(--dnews);
  color: var(--black);
  font-style: normal;
  font-weight: var(--dregular);
  background-color: var(--gray);
  margin-left: 20%;
  margin-right: 40%;
  margin-top: 12%;
}

.news-font2 {
  font-family: var(--amandine);
  font-size: var(--dnews);
  color: var(--black);
  font-style: normal;
  font-weight: var(--dregular);
  background-color: var(--gray);
  text-align: right;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: 12%;
}
.seemore {
  background-color: var(--brown);
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: arial;
  font-size: var(--dfinfo);
  text-decoration: none;
  color: var(--white);
  margin-left: 20%;
  margin-right: 40%;
}

.seemore2 {
  background-color: var(--brown);
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: arial;
  font-size: var(--dfinfo);
  text-decoration: none;
  color: var(--white);
  margin-top: 10px;
  margin-left: 50rem;
  margin-left: 80%;
}

main section img {
  background-color: var(--gray);
  max-width: 100%;
  width: 34.4375rem;
  height: 45.4375rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  align-content: space-evenly;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  background-color: transparent;
}

.news-container {
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .news-font {
    margin-left: 0;
  }

  .seemore {
    margin-top: 10px;
  }
}

/*Second page*/

.container-small {
  flex: 1;
  height: 20rem;
  width: 100%;
}
.gold-font {
  position: relative;
  top: 4rem;
  font-family: var(--amandine);
  font-size: var(--dminititel);
  color: var(--black);
  font-style: normal;
  font-weight: var(--dbold);
  background-color: transparent;
  text-align: center;
}

.gold-info {
  position: relative;
  bottom: 4rem;
  font-family: var(--amandine);
  font-size: var(--dminititelinfo);
  color: var(--brown);
  font-style: normal;
  font-weight: var(--dregular);
  background-color: transparent;
  text-align: center;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: transparent;
  gap: 5rem 0.6rem;
  padding-top: 7rem;
}

.productname {
  font-family: var(--amandine);
  font-size: var(--dproductinfo);
  color: var(--brown);
  font-style: normal;
  font-weight: var(--dregular);
  float: left;
}

.price {
  font-family: var(--amandine);
  font-size: var(--dproductinfo);
  color: var(--black);
  font-style: normal;
  font-weight: var(--dregular);
  text-align: left;
}


.jewelry-1 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-2 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-3 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-4 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-5 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-6 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-7 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-8 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}
.jewelry-9 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-10 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-11 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.jewelry-12 {
  width: var(--dproductwidth);
  height: 23rem;
  border-radius: 1.25rem;
}

.add {
  background-color: var(--brown);
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: arial;
  font-size: var(--dfinfo);
  text-decoration: none;
  color: var(--white);
  float: right;
  padding: 0.6rem 0.6rem;
}

.filter {
  background-color: var(--gray);
  color: #000;
  text-align: center;
  font-family: var(--amandine);
  font-size: var(--dfiler);
  font-weight: var(--dregular);
  width: 8.2rem;
  height: 3.5rem;
  flex-shrink: 1; /*???*/
  float: right;
  margin-bottom: 6.25rem;
  margin-right: 2rem;
}

.sortby {
  background-color: var(--gray);
  color: #000;
  text-align: center;
  font-family: var(--amandine);
  font-size: var(--dfiler);
  font-weight: var(--dregular);
  width: 8.2rem;
  height: 3.5rem;
  flex-shrink: 1; /*???*/
  float: right;
  margin-bottom: 6.25rem;
  margin-right: 2.5rem;
}

/*@media (max-width: 400px){
  .gold-font{
    font-size: 
  }
}*/

/*menu*/

.menu-dropdown {
  display: inline-block;
}
.dropdown button {
  cursor: pointer;
}

.menu-dropdown a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  text-shadow: 1px 1px 1px var(--brown);
}

.menu-dropdown .menu-content {
  display: none;
  position: absolute;
  min-width: 20rem;
  min-height: 25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-dropdown:hover .menu-content {
  display: block;
}

.menu-dropdown a:hover {
  background-color: var(--gray);
}

/*Login page*/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
  height: 25rem;
  background-color: var(--gray);
}

.login h1 {
  text-shadow: 3px 3px 3px #0000005c;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 15rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  padding: 10px 10px 10px 10px;
}

.forgot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-left: 2.4rem;
}

.register {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  margin-left: 3.7rem;
}

.register a:hover {
  text-decoration: underline;
}

.login-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--brown);
  color: white;
  margin-left: 7.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

form {
  width: 20rem;
  height: 21rem;
  align-content: center;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}


/*cart*/

.container-small-cart{
  flex: 1;
  height: 20rem;
  width: 100%;
}

.cart-title {
  position: relative;
  top: 4rem;
  font-family: var(--amandine);
  font-size: var(--dminititel);
  color: var(--black);
  font-style: normal;
  font-weight: var(--dbold);
  background-color: transparent;
  text-align: center;
  }

  .discount {
    position: relative;
    bottom: 4rem;
    font-family: var(--amandine);
    font-size: var(--dminititelinfo);
    color: var(--brown);
    font-style: normal;
    font-weight: var(--dregular);
    background-color: transparent;
    text-align: center;
  }

  .cart{
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 0%;
  }

  .container-cart{
    flex-shrink: 1;
    background-color: var(--gray);
    height: 39rem;
    width: 55rem;
    
  }

  .container-cart p,i{
    background-color: transparent;
  }

  .container-cart div{
    width: 7.9rem;
    height: 8rem;
    border-radius: 1.25rem;
    border: 1px solid #000;
    margin-top: 2%;
    margin-left: 2%;
  }

  .earrings{
    border-radius: 1.25rem;
    width: 7.9rem;
    height: 8rem;
  }

  .ring{
    border-radius: 1.25rem;
    width: 7.9rem;
    height: 8rem;
  }

  hr{
    border: 1px solid black; 
  }

  .discount-box{
   display: flex;
   width: 17.5rem;
   height: 3.75rem;
   margin-left: 15%;
   background-color: transparent;
  }
  .discount-box input{
    border: 1px solid black;
  }

  .discount-box-section{
    display: inline;
    background-color: transparent;
  }

 
  